.align-center {
    align-items: center;
}

.flex {
    column-gap: 1rem;

    display: flex;

    flex: 0 0 auto;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}