.icon {
    align-items: center;

    background-color: #0002;

    border: none;
    border-radius: 1em;

    color: #000;

    display: flex;

    height: 1.5em;

    justify-content: center;

    line-height: 1;

    margin: 0.5em;

    width: 1.5em;

}

.icon.failure {
    color: #d44;
    background-color: #d442;
}

.icon.large {
    font-size: 4em;
}

.icon.success {
    color: #4d8;
    background-color: #4d82;
}