html {
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: #444;
    opacity: 0.9;
}

.text-small {
    font-size: 0.75rem;
    line-height: 1.25;
}

.text-tertiary {
    color: #444;
    opacity: 0.7;
}